@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 0%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop .pop_wrap {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
}

.pop .pop_wrap .close_btn {
  margin: 5% auto;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

.pop .pop_wrap .close_btn p {
  width: 10%;
  cursor: pointer;
  text-align: right;
  font-size: 3rem;
  color: #fff;
  font-family: "Fugaz One", cursive;
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_wrap .close_btn p:hover {
  opacity: 1;
  color: #ffae00;
  text-shadow: 5px -5px 0 #fff;
}

.pop .pop_wrap .pop_list {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.pop .pop_wrap .pop_list a {
  margin: 5% 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
  display: block;
  font-size: 7rem;
  color: #fff;
  opacity: .3;
  font-family: "Fugaz One", cursive;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.pop .pop_wrap .pop_list a:hover {
  text-shadow: 10px -10px 0 #fff;
  color: #ffae00;
  opacity: 1;
}

.pop.active {
  width: 100%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop.active .pop_wrap {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
  -webkit-animation: burger .5s ease-in-out;
          animation: burger .5s ease-in-out;
}

.pop.active .pop_list {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  -webkit-animation: fade-in 0.75s linear;
          animation: fade-in 0.75s linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 10%;
  }
  header .home img {
    width: 100%;
  }
  .pop {
    width: 0%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 200;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
  }
  .pop .pop_wrap .pop_list a {
    margin: 10% 0;
    font-size: 6rem;
  }
  .pop.active .pop_wrap {
    width: 40%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 12%;
  }
  header .home img {
    width: 100%;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    width: 10%;
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  .pop .pop_wrap .pop_list a {
    margin: 5% 0;
    font-size: 5rem;
  }
  .pop.active .pop_wrap {
    width: 50%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  header {
    margin: 5% auto;
  }
  header .home {
    width: 20%;
  }
  header .burger {
    width: 30px;
    height: 30px;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list {
    -webkit-transform: translate(0%, 80%);
            transform: translate(0%, 80%);
  }
  .pop .pop_wrap .pop_list a {
    font-size: 4rem;
  }
  .pop.active .pop_wrap {
    width: 80%;
  }
  .pop.active .pop_list {
    -webkit-transform: translate(0%, 80%);
            transform: translate(0%, 80%);
  }
}

body {
  overflow: hidden;
  height: 100vh;
}

main {
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container .about1 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.container .about1 div {
  position: absolute;
  width: 10%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.container .about1 div img {
  width: 100%;
  opacity: 0;
  -webkit-animation: fade-in 1s .8s forwards;
          animation: fade-in 1s .8s forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.container .about1 figcaption {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .about1 figcaption .text {
  display: inline-block;
  font-family: "Fugaz One", cursive;
  color: #222222;
  font-size: 14rem;
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}

.container .about1 figcaption .text.t-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.container .about1 figcaption .text.t-3 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  margin-right: 5%;
}

.container .about1 figcaption .text.t-4 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.container .about1 figcaption .text.t-5 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  margin-right: 5%;
}

.container .about1 figcaption .text.t-6 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

article {
  overflow: hidden;
}

.myself {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.myself .left_b {
  width: 20%;
  height: 100vh;
  -webkit-animation: bottom 15s infinite linear;
          animation: bottom 15s infinite linear;
}

.myself .left_b b {
  display: block;
  -webkit-transform-origin: 30% 50%;
          transform-origin: 30% 50%;
  white-space: nowrap;
  font-size: 22rem;
  -webkit-transform: rotate(-90deg) translate(100%, 0%);
          transform: rotate(-90deg) translate(100%, 0%);
  color: rgba(148, 148, 148, 0.1);
}

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  50% {
    -webkit-transform: translate(5%, 250%);
            transform: translate(5%, 250%);
  }
  100% {
    -webkit-transform: translate(5%, 400%);
            transform: translate(5%, 400%);
  }
}

@keyframes bottom {
  0% {
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  50% {
    -webkit-transform: translate(5%, 250%);
            transform: translate(5%, 250%);
  }
  100% {
    -webkit-transform: translate(5%, 400%);
            transform: translate(5%, 400%);
  }
}

.about2 {
  margin: 0 auto;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about2 section {
  margin: 0 auto;
  color: #949494;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.about2 section h4 {
  font-size: 3.5rem;
  font-family: "Fugaz One", cursive;
}

.about2 section p {
  font-size: 3rem;
  font-family: "GmarketSansMedium";
}

.about2 section.active {
  opacity: 1;
  color: #222222;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.right_b {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0%;
  bottom: -100%;
  -webkit-animation: top 15s infinite linear;
          animation: top 15s infinite linear;
}

.right_b b {
  display: block;
  white-space: nowrap;
  font-size: 22rem;
  -webkit-transform: rotate(90deg) translate(100%, 0%);
          transform: rotate(90deg) translate(100%, 0%);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  color: rgba(148, 148, 148, 0.1);
}

@-webkit-keyframes top {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 150%;
  }
  100% {
    bottom: 350%;
  }
}

@keyframes top {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 150%;
  }
  100% {
    bottom: 350%;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: block;
}

.container .skills_pack {
  -webkit-transform: translate(0%, 15%);
          transform: translate(0%, 15%);
}

.container .skills_pack h3 {
  font-family: "Fugaz One", cursive;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  color: #222222;
}

.container .skills_pack .skills {
  display: block;
}

.container .skills_pack .skills h4 {
  text-align: left;
  font-family: "Fugaz One", cursive;
  font-size: 3rem;
  width: 80%;
  margin: 0 auto;
  color: #222222;
}

.container .skills_pack .skills p {
  text-align: left;
  font-family: "GmarketSansMedium";
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  color: #949494;
}

.container .skills_pack ul {
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 1% auto;
}

.container .skills_pack ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.container .skills_pack ul li .graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .skills_pack ul li .graph span {
  display: inline-block;
  width: 10%;
}

.container .skills_pack ul li .graph span img {
  width: 100%;
}

.container .skills_pack ul li .graph strong {
  width: 15%;
  font-size: 4rem;
  font-family: "GmarketSansMedium";
  color: #222222;
}

.container .skills_pack ul li .graph .bar {
  position: relative;
  width: 65%;
}

.container .skills_pack ul li .graph .bar span {
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #949494;
  position: absolute;
  top: 10%;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.container .skills_pack ul li .graph .bar span:nth-of-type(2) {
  width: 0%;
  background-color: #0b5121;
}

.container .skills_pack ul li .graph .bar p {
  width: 100%;
  text-align: left;
  font-family: "GmarketSansMedium";
  font-size: 1.6rem;
  color: #949494;
}

.soft_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 8% auto;
}

.soft_skills .soft {
  width: 50%;
}

.soft_skills .soft h4 {
  text-align: left;
  font-family: "Fugaz One", cursive;
  font-size: 3rem;
  color: #222222;
}

.soft_skills .soft p {
  text-align: left;
  font-family: "GmarketSansMedium";
  font-size: 2rem;
  color: #949494;
}

.soft_skills .img_con {
  width: 40%;
}

.soft_skills .img_con img {
  width: 10%;
}

.last {
  width: 100%;
  height: 100vh;
  background-color: #ffae00;
  position: relative;
}

.last .last_pack {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last .last_pack section {
  width: 49%;
  color: #fff;
  font-family: "Fugaz One", cursive;
}

.last .last_pack section h2 {
  letter-spacing: 2px;
  font-size: 5rem;
}

.last .last_pack section p {
  letter-spacing: 1px;
  font-size: 2.8rem;
  line-height: 1.2;
}

.last .last_pack .line {
  width: 2px;
  height: 50vh;
  background-color: #fff;
}

.last .last_pack .contact_r {
  width: 49%;
  font-family: "GmarketSansMedium";
  -webkit-transform: translate(0%, -10%);
          transform: translate(0%, -10%);
}

.last .last_pack .contact_r .detail {
  width: 100%;
}

.last .last_pack .contact_r .detail p:nth-of-type(1) {
  color: #fff;
  font-size: 3rem;
  font-family: "GmarketSansMedium";
}

.last .last_pack .contact_r .detail p {
  color: #fff;
  font-size: 2.6rem;
  font-family: "GmarketSansMedium";
  text-align: left;
  text-transform: none;
  -webkit-transform: translate(25%, 0%);
          transform: translate(25%, 0%);
  margin-bottom: 1%;
}

.last .last_pack .contact_r .detail p span {
  margin-right: 3%;
  vertical-align: text-bottom;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url("../img/mobile.png") center no-repeat;
  background-size: 100%;
}

.last .last_pack .contact_r .detail p:nth-of-type(2) span {
  background: url("../img/email.png") center no-repeat;
  background-size: 100%;
}

.last .last_pack .contact_r .detail p:nth-of-type(3) span {
  background: url("../img/address.png") center no-repeat;
  background-size: 100%;
}

.aboutF {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 1%;
}

.aboutF p {
  color: #fff;
  font-size: 1.6rem;
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  .container .about1 div {
    width: 10%;
    top: 50%;
    left: 52%;
  }
  .container .about1 figcaption {
    width: 47%;
  }
  .container .about1 figcaption .text {
    font-size: 10rem;
  }
  .container .about1 figcaption .text.t-3 {
    margin-right: 3%;
  }
  .container .about1 figcaption .text.t-5 {
    margin-right: 3%;
  }
  .myself .left_b b {
    font-size: 18rem;
  }
  .about2 section h4 {
    font-size: 3rem;
  }
  .about2 section p {
    font-size: 2.6rem;
  }
  .right_b b {
    font-size: 18rem;
  }
  .container .skills_pack {
    -webkit-transform: translate(0%, 25%);
            transform: translate(0%, 25%);
  }
  .container .skills_pack h3 {
    font-size: 4rem;
  }
  .container .skills_pack .skills h4 {
    font-size: 3rem;
  }
  .container .skills_pack .skills p {
    font-size: 2rem;
  }
  .container .skills_pack ul {
    -webkit-transform: translate(0%, 20%);
            transform: translate(0%, 20%);
  }
  .container .skills_pack ul li {
    width: 48%;
  }
  .container .skills_pack ul li .graph strong {
    font-size: 3rem;
  }
  .container .skills_pack ul li .graph .bar {
    width: 68%;
  }
  .soft_skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: 10% auto;
  }
  .soft_skills .soft {
    width: 60%;
  }
  .soft_skills .img_con {
    width: 40%;
  }
  .soft_skills .img_con img {
    width: 15%;
  }
  .last .last_pack {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .last .last_pack section {
    width: 50%;
  }
  .last .last_pack section h2 {
    font-size: 4rem;
  }
  .last .last_pack section p {
    letter-spacing: 0px;
    font-size: 2.4rem;
  }
  .last .last_pack .contact_r .detail p:nth-of-type(1) {
    font-size: 2.8rem;
  }
  .last .last_pack .contact_r .detail p {
    font-size: 2.4rem;
  }
  .last .last_pack .contact_r .detail p span {
    width: 2.6rem;
    height: 2.6rem;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  .container .about1 div {
    position: absolute;
    width: 13%;
    left: 50%;
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  .container .about1 figcaption {
    width: 50%;
    top: 50%;
    left: 53%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .about1 figcaption .text {
    font-size: 7rem;
  }
  .container .about1 figcaption .text.t-3 {
    margin-right: 2%;
  }
  .container .about1 figcaption .text.t-5 {
    margin-right: 2%;
  }
  .myself .left_b {
    -webkit-animation: bottom 15s infinite linear;
            animation: bottom 15s infinite linear;
    position: absolute;
    top: 20%;
    left: 0;
  }
  .myself .left_b b {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    font-size: 14rem;
    -webkit-transform: rotate(-15deg) translate(0%, 0%);
            transform: rotate(-15deg) translate(0%, 0%);
  }
  @-webkit-keyframes bottom {
    0% {
      -webkit-transform: translate(200%, 0%);
              transform: translate(200%, 0%);
      top: 20%;
    }
    25% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
      top: 40%;
    }
    50% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      top: 60%;
    }
    70% {
      -webkit-transform: translate(-100%, 0%);
              transform: translate(-100%, 0%);
      top: 80%;
    }
    100% {
      -webkit-transform: translate(-200%, 0%);
              transform: translate(-200%, 0%);
      top: 100%;
    }
  }
  @keyframes bottom {
    0% {
      -webkit-transform: translate(200%, 0%);
              transform: translate(200%, 0%);
      top: 20%;
    }
    25% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
      top: 40%;
    }
    50% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      top: 60%;
    }
    70% {
      -webkit-transform: translate(-100%, 0%);
              transform: translate(-100%, 0%);
      top: 80%;
    }
    100% {
      -webkit-transform: translate(-200%, 0%);
              transform: translate(-200%, 0%);
      top: 100%;
    }
  }
  .about2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about2 section {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    margin: 0 auto;
    margin-bottom: 5%;
    color: #222222;
    position: static;
    opacity: 1;
  }
  .about2 section h4 {
    font-size: 3rem;
  }
  .about2 section p {
    font-size: 2.6rem;
  }
  .about2 section.active {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    position: static;
  }
  .right_b {
    display: none;
  }
  .container {
    display: block;
  }
  .container .skills_pack h3 {
    font-size: 3.6rem;
  }
  .container .skills_pack .skills {
    display: block;
  }
  .container .skills_pack .skills h4 {
    font-size: 2.6rem;
  }
  .container .skills_pack .skills p {
    font-size: 1.8rem;
  }
  .container .skills_pack ul {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .skills_pack ul li {
    width: 100%;
    margin: 1% 0;
  }
  .container .skills_pack ul li .graph span {
    width: 10%;
  }
  .container .skills_pack ul li .graph span img {
    width: 100%;
  }
  .container .skills_pack ul li .graph strong {
    width: 10%;
    font-size: 3rem;
  }
  .container .skills_pack ul li .graph .bar {
    width: 70%;
  }
  .container .skills_pack ul li .graph .bar span {
    height: 0.5rem;
  }
  .container .skills_pack ul li .graph .bar p {
    font-size: 1.8rem;
  }
  .soft_skills .soft {
    width: 70%;
  }
  .soft_skills .soft h4 {
    font-size: 2.6rem;
  }
  .soft_skills .soft p {
    font-size: 2rem;
  }
  .soft_skills .img_con {
    width: 30%;
  }
  .soft_skills .img_con img {
    width: 30%;
  }
  .last .last_pack {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last .last_pack section {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    width: 100%;
  }
  .last .last_pack section h2 {
    letter-spacing: 0px;
    font-size: 3rem;
  }
  .last .last_pack section p {
    letter-spacing: 0px;
    font-size: 2.4rem;
  }
  .last .last_pack .line {
    width: 80%;
    height: 2px;
  }
  .last .last_pack .contact_r {
    width: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .last .last_pack .contact_r .detail {
    width: 100%;
  }
  .last .last_pack .contact_r .detail p:nth-of-type(1) {
    font-size: 2.8rem;
  }
  .last .last_pack .contact_r .detail p {
    font-size: 2.4rem;
    margin-bottom: 1.5%;
  }
  .last .last_pack .contact_r .detail p span {
    margin-right: 3%;
    width: 2.6rem;
    height: 2.6rem;
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  .container .about1 div {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-10%, -100%);
            transform: translate(-10%, -100%);
  }
  .container .about1 figcaption {
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .about1 figcaption .text {
    display: block;
    font-size: 6rem;
  }
  .container .about1 figcaption .text.t-3 {
    margin-right: 0%;
  }
  .container .about1 figcaption .text.t-5 {
    margin-right: 0%;
  }
  .myself .left_b {
    -webkit-animation: bottom 15s infinite linear;
            animation: bottom 15s infinite linear;
    position: absolute;
    top: 20%;
    left: 0;
  }
  .myself .left_b b {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    font-size: 10rem;
    -webkit-transform: rotate(-15deg) translate(0%, 0%);
            transform: rotate(-15deg) translate(0%, 0%);
  }
  @-webkit-keyframes bottom {
    0% {
      -webkit-transform: translate(200%, 0%);
              transform: translate(200%, 0%);
      top: 20%;
    }
    25% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
      top: 40%;
    }
    50% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      top: 60%;
    }
    70% {
      -webkit-transform: translate(-100%, 0%);
              transform: translate(-100%, 0%);
      top: 80%;
    }
    100% {
      -webkit-transform: translate(-200%, 0%);
              transform: translate(-200%, 0%);
      top: 100%;
    }
  }
  @keyframes bottom {
    0% {
      -webkit-transform: translate(200%, 0%);
              transform: translate(200%, 0%);
      top: 20%;
    }
    25% {
      -webkit-transform: translate(100%, 0%);
              transform: translate(100%, 0%);
      top: 40%;
    }
    50% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      top: 60%;
    }
    70% {
      -webkit-transform: translate(-100%, 0%);
              transform: translate(-100%, 0%);
      top: 80%;
    }
    100% {
      -webkit-transform: translate(-200%, 0%);
              transform: translate(-200%, 0%);
      top: 100%;
    }
  }
  .about2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about2 section {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    margin: 0 auto;
    margin-bottom: 5%;
    color: #222222;
    position: static;
    opacity: 1;
  }
  .about2 section h4 {
    font-size: 2.6rem;
  }
  .about2 section p {
    font-size: 2rem;
  }
  .about2 section.active {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    position: static;
  }
  .right_b {
    display: none;
  }
  .container {
    display: block;
  }
  .container .skills_pack {
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  .container .skills_pack h3 {
    font-size: 2.6rem;
  }
  .container .skills_pack .skills h4 {
    font-size: 1.8rem;
  }
  .container .skills_pack .skills p {
    display: none;
  }
  .container .skills_pack ul {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .skills_pack ul li {
    width: 100%;
    margin: 0% 0;
  }
  .container .skills_pack ul li .graph {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .skills_pack ul li .graph span {
    width: 7%;
  }
  .container .skills_pack ul li .graph span img {
    width: 100%;
  }
  .container .skills_pack ul li .graph strong {
    font-size: 1.8rem;
  }
  .container .skills_pack ul li .graph .bar {
    width: 70%;
  }
  .container .skills_pack ul li .graph .bar span {
    height: 0.3rem;
  }
  .container .skills_pack ul li .graph .bar p {
    font-size: 1.4rem;
  }
  .soft_skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: 5% auto;
  }
  .soft_skills .soft {
    width: 70%;
  }
  .soft_skills .soft h4 {
    font-size: 1.8rem;
    color: #222222;
  }
  .soft_skills .soft p {
    text-align: left;
    font-family: "GmarketSansMedium";
    font-size: 1.4rem;
    color: #949494;
  }
  .soft_skills .img_con {
    width: 30%;
  }
  .soft_skills .img_con img {
    width: 25%;
  }
  .last .last_pack {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last .last_pack section {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    width: 100%;
  }
  .last .last_pack section h2 {
    letter-spacing: 0px;
    font-size: 2.6rem;
  }
  .last .last_pack section p {
    letter-spacing: 0px;
    font-size: 1.8rem;
  }
  .last .last_pack .line {
    width: 80%;
    height: 1px;
  }
  .last .last_pack .contact_r {
    width: 100%;
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
  .last .last_pack .contact_r .detail {
    width: 100%;
  }
  .last .last_pack .contact_r .detail p:nth-of-type(1) {
    font-size: 2.4rem;
    text-align: left;
  }
  .last .last_pack .contact_r .detail p {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1.5%;
  }
  .last .last_pack .contact_r .detail p span {
    margin-right: 3%;
    width: 2rem;
    height: 2rem;
  }
  .aboutF {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 1%;
  }
  .aboutF p {
    color: #fff;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=about.css.map */