@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 0%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop .pop_wrap {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
}

.pop .pop_wrap .close_btn {
  margin: 5% auto;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

.pop .pop_wrap .close_btn p {
  width: 10%;
  cursor: pointer;
  text-align: right;
  font-size: 3rem;
  color: #fff;
  font-family: "Fugaz One", cursive;
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_wrap .close_btn p:hover {
  opacity: 1;
  color: #ffae00;
  text-shadow: 5px -5px 0 #fff;
}

.pop .pop_wrap .pop_list {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.pop .pop_wrap .pop_list a {
  margin: 5% 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
  display: block;
  font-size: 7rem;
  color: #fff;
  opacity: .3;
  font-family: "Fugaz One", cursive;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.pop .pop_wrap .pop_list a:hover {
  text-shadow: 10px -10px 0 #fff;
  color: #ffae00;
  opacity: 1;
}

.pop.active {
  width: 100%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop.active .pop_wrap {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
  -webkit-animation: burger .5s ease-in-out;
          animation: burger .5s ease-in-out;
}

.pop.active .pop_list {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  -webkit-animation: fade-in 0.75s linear;
          animation: fade-in 0.75s linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
/*# sourceMappingURL=common.css.map */