@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  top: 0%;
  left: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -100;
}

.pop .pop_list {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0%, -50%) skewX(-6deg) rotate(-15deg) skewY(6deg) skewX(-12deg);
          transform: translate(0%, -50%) skewX(-6deg) rotate(-15deg) skewY(6deg) skewX(-12deg);
  position: absolute;
  top: 45%;
  left: 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_list a {
  color: #fff;
  font-family: "Fugaz One", cursive;
  font-size: 8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.pop .pop_list a:hover {
  text-shadow: 60px -40px 0 #ffae00;
}

.pop .x_btn {
  position: absolute;
  top: 5%;
  right: 10%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.pop .x_btn .menu_close {
  position: relative;
  width: 4rem;
  height: 4rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .x_btn .menu_close span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .x_btn .menu_close span:nth-of-type(1) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pop .x_btn .menu_close span:nth-of-type(2) {
  top: calc(50%-0.4rem);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pop .x_btn .menu_close:hover span:nth-of-type(1) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.pop .x_btn .menu_close:hover span:nth-of-type(2) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.pop.active {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: change .6s ease-out;
          animation: change .6s ease-out;
  opacity: 1;
}

.pop.active .pop_list a {
  -webkit-animation: bigger .7s ease-out;
          animation: bigger .7s ease-out;
}

@-webkit-keyframes change {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes change {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pop.active .x_btn {
  opacity: 1;
  -webkit-animation: bigger .5s ease-out;
          animation: bigger .5s ease-out;
}

@-webkit-keyframes bigger {
  0% {
    font-size: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    font-size: 8rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    font-size: 8rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bigger {
  0% {
    font-size: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    font-size: 8rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    font-size: 8rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*
.loading{
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $white;
    left: 0;
    z-index: 100;
    animation: out 1s ease-out;
    animation-delay: 1.3s;
    transition: .5s;
    .pack{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .loading_text{
            opacity:0;
            display: inline-block;
            color: $yellow;
            font-family: 'Bungee Shade', cursive;
            font-size: 5rem;
            animation: pop-up .5s cubic-bezier(.42,-0.79,.57,1.74) forwards;
        }
        .loading_text:nth-of-type(1){
            animation-delay: .05s;
        }
        .loading_text:nth-of-type(2){
            animation-delay: .1s;
        }
        .loading_text:nth-of-type(3){
            animation-delay: .15s;
        }
        .loading_text:nth-of-type(4){
            animation-delay: .2s;
        }
        .loading_text:nth-of-type(5){
            animation-delay: .25s;
        }
        .loading_text:nth-of-type(6){
            animation-delay: .3s;
        }
        .loading_text:nth-of-type(7){
            animation-delay: .35s;
        }
        @keyframes pop-up {
            0%{
                transform: scale(0) translateY(-10px);
                opacity: 0;
            }
            80%{
                transform: scale(1.3) translateY(-2px); 
                opacity: .8;
             }
            100%{
                transform: scale(1) translateY(0px); 
                opacity: 1;
            }
        }
    }
    @keyframes out {
        0%{
            opacity: 1;
        }
    
        50%{
            // opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}
*/
header a {
  width: 100%;
  margin: 0 auto;
}

header a img {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ffae00;
}

.container .main_con {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.container .main_con .main_letter h2 {
  color: #fff;
  font-family: "Fugaz One", cursive;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.5px;
}

.container .main_con .main_letter p {
  color: #fff;
  font-family: "Fugaz One", cursive;
  font-size: 3rem;
}

.container .main_click {
  width: 100%;
  margin: 10% 0;
}

.container .main_click a {
  display: block;
  background-color: #0b5121;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .main_click a p {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Fugaz One", cursive;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.container .main_click.active a {
  opacity: 0;
}

@media all and (min-width: 1100px) and (max-width: 1400px) {
  .container .main_con .main_letter h2 {
    font-size: 4rem;
  }
  .container .main_con .main_letter p {
    color: #fff;
    font-family: "Fugaz One", cursive;
    font-size: 2.5rem;
  }
  .container .main_click a {
    width: 9rem;
    height: 9rem;
  }
  .container .main_click a p {
    font-size: 2rem;
  }
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 800px) and (max-width: 1099px) {
  .container .main_con .main_letter h2 {
    font-size: 3rem;
    letter-spacing: -1px;
  }
  .container .main_con .main_letter p {
    font-size: 2rem;
  }
  .container .main_click a {
    width: 8rem;
    height: 8rem;
  }
  .container .main_click a p {
    font-size: 2rem;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 799px) {
  header a {
    width: 100%;
    margin: 0 auto;
  }
  header a img {
    width: 100%;
  }
  .container .main_con .main_letter h2 {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }
  .container .main_con .main_letter p {
    font-size: 1.5rem;
  }
  .container .main_click a {
    width: 7rem;
    height: 7rem;
  }
  .container .main_click a p {
    font-size: 1.6rem;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .container .main_con .main_letter h2 {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }
  .container .main_con .main_letter p {
    font-size: 1.4rem;
    line-height: 1;
  }
  .container .main_click a {
    width: 6rem;
    height: 6rem;
  }
  .container .main_click a p {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=index.css.map */