@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  top: 0%;
  left: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -200;
}

.pop .pop_list {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0%, -50%) skewX(-6deg) rotate(-15deg) skewY(6deg) skewX(-12deg);
          transform: translate(0%, -50%) skewX(-6deg) rotate(-15deg) skewY(6deg) skewX(-12deg);
  position: absolute;
  top: 45%;
  left: 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_list a {
  color: #fff;
  font-family: "Fugaz One", cursive;
  font-size: 8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.pop .pop_list a:hover {
  text-shadow: 60px -40px 0 #ffae00;
}

.pop .x_btn {
  position: absolute;
  top: 5%;
  right: 10%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.pop .x_btn .menu_close {
  position: relative;
  width: 4rem;
  height: 4rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .x_btn .menu_close span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .x_btn .menu_close span:nth-of-type(1) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pop .x_btn .menu_close span:nth-of-type(2) {
  top: calc(50%-0.4rem);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pop .x_btn .menu_close:hover span:nth-of-type(1) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.pop .x_btn .menu_close:hover span:nth-of-type(2) {
  bottom: calc(50%-0.4rem);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.pop.active {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: change .6s ease-out;
          animation: change .6s ease-out;
  opacity: 1;
}

.pop.active .pop_list a {
  -webkit-animation: bigger .7s ease-out;
          animation: bigger .7s ease-out;
}

@-webkit-keyframes change {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes change {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pop.active .x_btn {
  opacity: 1;
  -webkit-animation: bigger .5s ease-out;
          animation: bigger .5s ease-out;
}

@-webkit-keyframes bigger {
  0% {
    font-size: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    font-size: 8rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    font-size: 8rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bigger {
  0% {
    font-size: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    font-size: 8rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    font-size: 8rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  overflow: hidden;
}

.pop_all {
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: -100;
}

.pop_all .all_top {
  width: 6.5%;
  margin: 1.4% 10%;
}

.pop_all .all_top a img {
  width: 100%;
}

.pop_all .all {
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: "Fugaz One", cursive;
  -webkit-transition: .8s;
  transition: .8s;
}

.pop_all .all .all_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pop_all .all .all_list a {
  opacity: 0.5;
  -webkit-transition: .4s;
  transition: .4s;
}

.pop_all .all .all_list a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
}

.pop_all .all .all_list a p strong {
  font-size: 8rem;
}

.pop_all .all .all_list a:hover {
  opacity: 1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.pop_all .all .close_btn {
  width: 100%;
  margin-top: 20%;
}

.pop_all .all .close_btn p {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 8%;
  margin: 0 auto;
  color: #fff;
  font-size: 3rem;
}

.pop_all .all .close_btn p:hover {
  opacity: 1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.pop_all.active {
  position: fixed;
  top: 50;
  left: 50;
  z-index: 200;
  -webkit-animation: showPop .6s ease-out;
          animation: showPop .6s ease-out;
}

@-webkit-keyframes showPop {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showPop {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

article {
  overflow: hidden;
}

.mine {
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.hyeonha {
  width: 100%;
  height: 100vh;
  font-size: 0;
  background-color: #ffae00;
}

.socar {
  width: 100%;
  height: 100vh;
  font-size: 0;
  position: relative;
}

.socar .vdo video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1920px;
  height: 100vh;
}

.broom {
  width: 100%;
  height: 100vh;
  font-size: 0;
  position: relative;
}

.broom img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1920px;
  height: 100vh;
}

.list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 0;
  left: 0%;
  top: 40%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: scale1 .5s ease-in-out;
          animation: scale1 .5s ease-in-out;
}

.list a {
  position: absolute;
  left: 50%;
  width: 10%;
  opacity: 0.7;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
}

.list a p {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-family: "Fugaz One", cursive;
}

.list a p strong {
  font-size: 11rem;
}

.list a:nth-of-type(2) {
  left: 100%;
}

.list a:nth-of-type(3) {
  left: 150%;
}

@-webkit-keyframes scale1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.list {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.list a.active {
  -webkit-transform: rotate(-15deg) translate(0%, -25%);
          transform: rotate(-15deg) translate(0%, -25%);
  opacity: 1;
}

.all_portfolio {
  position: fixed;
  bottom: 5%;
  right: 10%;
  width: 10%;
  height: 10%;
  background: url("../img/all.png") center no-repeat;
  background-size: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-animation: scale2 .5s ease-in-out;
          animation: scale2 .5s ease-in-out;
}

@-webkit-keyframes scale2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.all_portfolio:hover {
  -webkit-animation: move infinite .5s linear;
          animation: move infinite .5s linear;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*
@media all and (min-width:1100px) and (max-width:1400px) { 
    .pop_all{
        .all_top{
            width:5%;
        }
        .all{
            transform: translate(0,30%);
            .all_list{
                a{
                    p{
                        font-size: 2rem;
                        strong{
                            font-size: 6rem;
                        }
                    }
                }
            }
            .close_btn{
                margin-top: 23%;
                p{
                    font-size: 2rem;
                }
            }
        }
    }

}

// 
// /* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
/*# sourceMappingURL=portfolio_list.css.map */