@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 0%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop .pop_wrap {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
}

.pop .pop_wrap .close_btn {
  margin: 5% auto;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

.pop .pop_wrap .close_btn p {
  width: 10%;
  cursor: pointer;
  text-align: right;
  font-size: 3rem;
  color: #fff;
  font-family: "Fugaz One", cursive;
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_wrap .close_btn p:hover {
  opacity: 1;
  color: #ffae00;
  text-shadow: 5px -5px 0 #fff;
}

.pop .pop_wrap .pop_list {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop .pop_wrap .pop_list a {
  margin: 5% 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
  display: block;
  font-size: 7rem;
  color: #fff;
  opacity: .3;
  font-family: "Fugaz One", cursive;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.pop .pop_wrap .pop_list a:hover {
  text-shadow: 10px -10px 0 #fff;
  color: #ffae00;
  opacity: 1;
}

.pop.active {
  width: 100%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop.active .pop_wrap {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
  -webkit-animation: burger .5s ease-in-out;
          animation: burger .5s ease-in-out;
}

.pop.active .pop_list {
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 10%;
  }
  header .home img {
    width: 100%;
  }
  .pop {
    width: 0%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 200;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
  }
  .pop .pop_wrap .pop_list a {
    margin: 10% 0;
    font-size: 6rem;
  }
  .pop.active .pop_wrap {
    width: 40%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 12%;
  }
  header .home img {
    width: 100%;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    width: 10%;
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
  }
  .pop .pop_wrap .pop_list a {
    margin: 5% 0;
    font-size: 5rem;
  }
  .pop.active .pop_wrap {
    width: 50%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  header {
    margin: 5% auto;
  }
  header .home {
    width: 20%;
  }
  header .burger {
    width: 30px;
    height: 30px;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list a {
    font-size: 4rem;
  }
  .pop.active .pop_wrap {
    width: 80%;
  }
}

html, body {
  overflow: hidden;
  height: 100vh;
}

.pop_all {
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: -300;
}

.pop_all .all_top {
  width: 6.5%;
  margin: 1.4% 10%;
}

.pop_all .all_top a img {
  width: 100%;
}

.pop_all .all {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  font-family: "Fugaz One", cursive;
  -webkit-transition: .8s;
  transition: .8s;
}

.pop_all .all .all_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pop_all .all .all_list a {
  opacity: 0.5;
  -webkit-transition: .4s;
  transition: .4s;
}

.pop_all .all .all_list a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
}

.pop_all .all .all_list a p strong {
  font-size: 8rem;
}

.pop_all .all .all_list a:hover {
  opacity: 1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.pop_all .all .closeBtn {
  width: 100%;
  margin-top: 10%;
}

.pop_all .all .closeBtn p {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 8%;
  margin: 0 auto;
  color: #fff;
  font-size: 3rem;
}

.pop_all .all .closeBtn p:hover {
  opacity: 1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.pop_all.active {
  position: fixed;
  top: 50;
  left: 50;
  z-index: 200;
  -webkit-animation: showPop .6s ease-out;
          animation: showPop .6s ease-out;
}

@-webkit-keyframes showPop {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showPop {
  0% {
    opacity: 0;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-clip-path: circle(25%);
            clip-path: circle(25%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

article {
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.mine {
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.hyeonha {
  width: 100%;
  height: 100vh;
  font-size: 0;
  background-color: #ffae00;
}

.socar {
  width: 100%;
  height: 100vh;
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.socar .vdo video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120vh;
}

.broom {
  width: 100%;
  height: 100vh;
  font-size: 0;
  position: relative;
}

.broom img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120vh;
}

.list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 0;
  left: 0%;
  top: 45%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: scale1 .5s ease-in-out;
          animation: scale1 .5s ease-in-out;
}

.list a {
  position: absolute;
  left: 50%;
  width: 10%;
  opacity: 0.7;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
}

.list a p {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-family: "Fugaz One", cursive;
}

.list a p strong {
  font-size: 11rem;
}

.list a:nth-of-type(2) {
  left: 100%;
}

.list a:nth-of-type(3) {
  left: 150%;
}

@-webkit-keyframes scale1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.list {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.list a.active {
  -webkit-transform: rotate(-15deg) translate(0%, -25%);
          transform: rotate(-15deg) translate(0%, -25%);
  opacity: 1;
}

.all_portfolio {
  position: fixed;
  bottom: 5%;
  right: 10%;
  width: 10%;
  height: 10%;
  background: url("../img/all.png") center no-repeat;
  background-size: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-animation: scale2 .5s ease-in-out;
          animation: scale2 .5s ease-in-out;
}

@-webkit-keyframes scale2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.all_portfolio:hover {
  -webkit-animation: move infinite .5s linear;
          animation: move infinite .5s linear;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.scroll_img {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 50;
  background: url("../img/scroll_down.png") center no-repeat;
  background-size: 100%;
  -webkit-animation: scrollMove 1s infinite linear;
          animation: scrollMove 1s infinite linear;
}

@-webkit-keyframes scrollMove {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@keyframes scrollMove {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

article:nth-of-type(3) .scroll_img {
  background: url("../img/scroll_up.png") center no-repeat;
  background-size: 100%;
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  .pop_all .all_top {
    width: 10%;
    margin: 1.4% 10%;
  }
  .pop_all .all_top a img {
    width: 100%;
  }
  .pop_all .all .all_list a p {
    color: #fff;
    font-size: 2.4rem;
  }
  .pop_all .all .all_list a p strong {
    font-size: 6rem;
  }
  .pop_all .all .closeBtn {
    width: 100%;
    margin-top: 20%;
  }
  .list {
    -webkit-animation: scale1 .5s ease-in-out;
            animation: scale1 .5s ease-in-out;
  }
  .list a {
    width: 10%;
  }
  .list a p {
    font-size: 2rem;
  }
  .list a p strong {
    font-size: 8rem;
  }
  .all_portfolio {
    width: 14%;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  .pop_all .all_top {
    width: 14%;
    margin: 1.4% 10%;
  }
  .pop_all .all_top a img {
    width: 100%;
  }
  .pop_all .all .all_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pop_all .all .all_list a {
    margin: 1% auto;
  }
  .pop_all .all .all_list a p {
    font-size: 2rem;
  }
  .pop_all .all .all_list a p strong {
    font-size: 6rem;
  }
  .pop_all .all .closeBtn {
    margin-top: 20%;
  }
  .pop_all .all .closeBtn p {
    width: 30%;
    font-size: 2.6rem;
  }
  .list a p {
    font-size: 2rem;
  }
  .list a p strong {
    font-size: 6rem;
  }
  .all_portfolio {
    width: 16%;
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  .pop_all .all_top {
    width: 16%;
    margin: 1.4% 10%;
  }
  .pop_all .all_top a img {
    width: 100%;
  }
  .pop_all .all .all_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pop_all .all .all_list a {
    margin: 2% auto;
  }
  .pop_all .all .all_list a p {
    font-size: 1.8rem;
  }
  .pop_all .all .all_list a p strong {
    font-size: 4.2rem;
  }
  .pop_all .all .closeBtn {
    margin: 10% auto;
  }
  .pop_all .all .closeBtn p {
    width: 30%;
    font-size: 2.4rem;
  }
  .hyeonha {
    width: 100%;
    height: 100vh;
    font-size: 0;
    background-color: #ffae00;
  }
  .socar {
    width: 100%;
    height: 100vh;
    font-size: 0;
    position: relative;
    overflow: hidden;
  }
  .socar .vdo video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 120vh;
  }
  .broom {
    width: 100%;
    height: 100vh;
    font-size: 0;
    position: relative;
  }
  .broom img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 120vh;
  }
  .list a p {
    font-size: 1.6rem;
    font-family: "Fugaz One", cursive;
  }
  .list a p strong {
    font-size: 3.8rem;
  }
  .list a.active {
    -webkit-transform: rotate(-15deg) translate(0%, -20%);
            transform: rotate(-15deg) translate(0%, -20%);
    opacity: 1;
  }
  .all_portfolio {
    width: 20%;
  }
  .scroll_img {
    bottom: 10%;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=portfolio_list.css.map */