@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, li, ul, code, span, em, b {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

header {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 10;
}

header .home {
  width: 8%;
}

header .home img {
  width: 100%;
}

header .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0b5121;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .burger span:nth-of-type(1) {
  width: 100%;
}

header .burger span:nth-of-type(2) {
  width: 80%;
}

header .burger span:nth-of-type(3) {
  width: 60%;
}

header .burger:hover span {
  width: 100%;
}

.pop {
  width: 0%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop .pop_wrap {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100vh;
  background-color: #0b5121;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
}

.pop .pop_wrap .close_btn {
  margin: 5% auto;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

.pop .pop_wrap .close_btn p {
  width: 10%;
  cursor: pointer;
  text-align: right;
  font-size: 3rem;
  color: #fff;
  font-family: "Fugaz One", cursive;
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.pop .pop_wrap .close_btn p:hover {
  opacity: 1;
  color: #ffae00;
  text-shadow: 5px -5px 0 #fff;
}

.pop .pop_wrap .pop_list {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop .pop_wrap .pop_list a {
  margin: 5% 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: left;
  display: block;
  font-size: 7rem;
  color: #fff;
  opacity: .3;
  font-family: "Fugaz One", cursive;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.pop .pop_wrap .pop_list a:hover {
  text-shadow: 10px -10px 0 #fff;
  color: #ffae00;
  opacity: 1;
}

.pop.active {
  width: 100%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 200;
}

.pop.active .pop_wrap {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
  -webkit-animation: burger .5s ease-in-out;
          animation: burger .5s ease-in-out;
}

.pop.active .pop_list {
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes burger {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 10%;
  }
  header .home img {
    width: 100%;
  }
  .pop {
    width: 0%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 200;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
  }
  .pop .pop_wrap .pop_list a {
    margin: 10% 0;
    font-size: 6rem;
  }
  .pop.active .pop_wrap {
    width: 40%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  header {
    margin: 3% auto;
  }
  header .home {
    width: 12%;
  }
  header .home img {
    width: 100%;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    width: 10%;
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list {
    width: 80%;
    margin: 0 auto;
  }
  .pop .pop_wrap .pop_list a {
    margin: 5% 0;
    font-size: 5rem;
  }
  .pop.active .pop_wrap {
    width: 50%;
  }
  .pop.active .pop_list {
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  header {
    margin: 5% auto;
  }
  header .home {
    width: 20%;
  }
  header .burger {
    width: 30px;
    height: 30px;
  }
  .pop .pop_wrap .close_btn {
    margin: 5% auto;
    -webkit-transform: translate(70%, 0);
            transform: translate(70%, 0);
  }
  .pop .pop_wrap .close_btn p {
    font-size: 2.6rem;
  }
  .pop .pop_wrap .pop_list a {
    font-size: 4rem;
  }
  .pop.active .pop_wrap {
    width: 80%;
  }
}

div {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper .hh_left {
  width: 50%;
  height: 100%;
  background-color: #ffae00;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: left .6s ease-in-out normal;
          animation: left .6s ease-in-out normal;
}

.wrapper .hh_left .back {
  width: 15%;
  margin: 1.5%;
}

.wrapper .hh_left .back p {
  width: 100%;
}

.wrapper .hh_left .back p img {
  width: 100%;
}

@-webkit-keyframes left {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

@keyframes left {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.wrapper .hh_left .detail {
  color: #fff;
  font-family: "GmarketSansMedium";
  position: absolute;
  top: 50%;
  width: 40%;
  left: 10%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-animation: show 1s ease-in-out normal;
          animation: show 1s ease-in-out normal;
}

.wrapper .hh_left .detail h2 {
  text-align: left;
  font-size: 5rem;
  line-height: 1;
}

.wrapper .hh_left .detail h3 {
  font-size: 3rem;
  text-align: left;
}

.wrapper .hh_left .detail p {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 10% 0;
}

.wrapper .hh_left .detail a {
  display: block;
  width: 20%;
  margin: 5% auto;
  background-color: #fff;
  color: #222222;
  font-size: 1.8rem;
  padding: 1% 2%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.wrapper .hh_left .detail em {
  display: block;
  text-align: right;
  margin-right: 5%;
  font-size: 1.2rem;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translate(0%, -35%);
            transform: translate(0%, -35%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0%, -40%);
            transform: translate(0%, -40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    -webkit-transform: translate(0%, -35%);
            transform: translate(0%, -35%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0%, -40%);
            transform: translate(0%, -40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    opacity: 1;
  }
}

.wrapper .hh_left.active {
  width: 100%;
}

.wrapper .hh_left.active .back {
  width: 8%;
  margin: 1.5% 8.5%;
}

.wrapper .hh_left.active .back p img {
  width: 100%;
}

.wrapper .hh_left.active .detail {
  opacity: 0;
}

.wrapper .hh_right {
  width: 50%;
  height: 100%;
  position: relative;
  -webkit-animation: right 0.8s linear normal;
          animation: right 0.8s linear normal;
}

.wrapper .hh_right img {
  position: absolute;
  top: 50%;
  right: 25%;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 50%;
  -webkit-animation: imgOpa 1s ease-in-out;
          animation: imgOpa 1s ease-in-out;
}

@-webkit-keyframes imgOpa {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%) scale(0);
            transform: translate(0%, -50%) scale(0);
  }
  97% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%) scale(1.2);
            transform: translate(0%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%) scale(1);
            transform: translate(0%, -50%) scale(1);
  }
}

@keyframes imgOpa {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%) scale(0);
            transform: translate(0%, -50%) scale(0);
  }
  97% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%) scale(1.2);
            transform: translate(0%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, -50%) scale(1);
            transform: translate(0%, -50%) scale(1);
  }
}

@-webkit-keyframes right {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 50%;
  }
}

@keyframes right {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 50%;
  }
}

.wrapper.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.wrapper.column .color {
  width: 100%;
  margin-top: 8%;
}

.wrapper.column .color .color_system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}

.wrapper.column .color .color_system .color_left {
  width: 50%;
  font-family: "GmarketSansMedium";
}

.wrapper.column .color .color_system .color_left h4 {
  text-align: left;
  color: #222222;
  font-size: 3rem;
}

.wrapper.column .color .color_system .color_left p {
  text-align: left;
  color: #949494;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.wrapper.column .color .color_system .color_right {
  width: 50%;
}

.wrapper.column .color .color_system .color_right img {
  width: 100%;
}

.wrapper.column .color .color_system.active {
  opacity: 1;
  -webkit-animation: show2 .8s linear normal;
          animation: show2 .8s linear normal;
}

@-webkit-keyframes show2 {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show2 {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper.column .font {
  margin-top: 8%;
  width: 100%;
}

.wrapper.column .font .text_style {
  width: 100%;
  font-family: "GmarketSansMedium";
  opacity: 0;
}

.wrapper.column .font .text_style h4 {
  text-align: left;
  color: #222222;
  font-size: 3rem;
}

.wrapper.column .font .text_style p {
  text-align: left;
  color: #949494;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.wrapper.column .font .text_style .text_img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper.column .font .text_style .text_img li {
  margin-top: 3%;
}

.wrapper.column .font .text_style .text_img li img {
  width: 100%;
}

.wrapper.column .font .text_style.active {
  -webkit-animation: show2 .8s linear normal;
          animation: show2 .8s linear normal;
  opacity: 1;
}

@keyframes show2 {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper.column.mockup p {
  width: 80%;
  height: 100%;
  margin: 5% auto;
  opacity: 0;
}

.wrapper.column.mockup p img {
  width: 90%;
}

.wrapper.column.mockup p.active {
  -webkit-animation: show2 1s linear normal;
          animation: show2 1s linear normal;
  opacity: 1;
}

@keyframes show2 {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper.column.mockup footer {
  text-align: center;
  width: 100%;
  font-family: "GmarketSansMedium";
  color: #949494;
}

/* PC Desktop (1043~1400) */
@media all and (min-width: 1043px) and (max-width: 1400px) {
  .wrapper .hh_left .back {
    width: 15%;
    margin: 1.5%;
  }
  .wrapper .hh_left .back p {
    width: 100%;
  }
  .wrapper .hh_left .back p img {
    width: 100%;
  }
  .wrapper .hh_left .detail {
    left: 5%;
  }
  .wrapper .hh_left .detail h2 {
    font-size: 4rem;
    line-height: 1;
  }
  .wrapper .hh_left .detail h3 {
    font-size: 2.8rem;
  }
  .wrapper .hh_left .detail p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 10%;
  }
  .wrapper .hh_left .detail a {
    width: 20%;
    margin: 0 auto;
    font-size: 1.6rem;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    margin: 10% auto;
  }
  .wrapper .hh_left.active {
    width: 100%;
  }
  .wrapper .hh_left.active .back {
    width: 8%;
    margin: 1.5% 8.5%;
  }
  .wrapper .hh_left.active .back p img {
    width: 100%;
  }
  .wrapper .hh_left.active .detail {
    opacity: 0;
  }
  .wrapper.column {
    width: 90%;
    height: 100%;
  }
  .wrapper.column .color .color_system {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper.column .color .color_system .color_left {
    width: 60%;
  }
  .wrapper.column .color .color_system .color_left h4 {
    font-size: 2.8rem;
  }
  .wrapper.column .color .color_system .color_left p {
    font-size: 1.8rem;
  }
  .wrapper.column .color .color_system .color_right {
    width: 40%;
  }
  .wrapper.column .color .color_system.active {
    opacity: 1;
  }
  .wrapper.column .font .text_style {
    width: 100%;
  }
  .wrapper.column .font .text_style h4 {
    text-align: left;
    color: #222222;
    font-size: 2.8rem;
  }
  .wrapper.column .font .text_style p {
    font-size: 1.8rem;
  }
  .wrapper.column .font .text_style .text_img {
    width: 100%;
  }
  .wrapper.column .font .text_style .text_img li {
    margin-top: 3%;
  }
  .wrapper.column .font .text_style .text_img li img {
    width: 100%;
  }
  .wrapper.column.mockup p {
    width: 90%;
    margin: 8% auto;
  }
  .wrapper.column.mockup p.active {
    -webkit-animation: show2 1s linear normal;
            animation: show2 1s linear normal;
    opacity: 1;
  }
  @-webkit-keyframes show2 {
    0% {
      -webkit-transform: translate(0%, 10%);
              transform: translate(0%, 10%);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show2 {
    0% {
      -webkit-transform: translate(0%, 10%);
              transform: translate(0%, 10%);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .wrapper.column.mockup footer {
    text-align: center;
    width: 100%;
    font-family: "GmarketSansMedium";
    color: #949494;
  }
}

/* Tablet (688~1042) */
@media all and (min-width: 688px) and (max-width: 1042px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .wrapper .hh_left {
    width: 100%;
    height: 100vh;
    -webkit-animation: left .6s ease-in-out normal;
            animation: left .6s ease-in-out normal;
  }
  .wrapper .hh_left .back {
    width: 15%;
    margin: 1.5%;
  }
  .wrapper .hh_left .back p {
    width: 100%;
  }
  .wrapper .hh_left .back p img {
    width: 100%;
  }
  @-webkit-keyframes left {
    0% {
      height: 50vh;
    }
    100% {
      height: 100vh;
    }
  }
  @keyframes left {
    0% {
      height: 50vh;
    }
    100% {
      height: 100vh;
    }
  }
  .wrapper .hh_left .detail {
    width: 70%;
    left: 15%;
  }
  .wrapper .hh_left .detail h2 {
    font-size: 3.8rem;
    line-height: 1;
  }
  .wrapper .hh_left .detail h3 {
    font-size: 2.6rem;
  }
  .wrapper .hh_left .detail p {
    font-size: 1.8rem;
    margin-top: 8%;
  }
  .wrapper .hh_left .detail a {
    font-size: 1.6rem;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  .wrapper .hh_left .detail em {
    margin-right: 0%;
  }
  .wrapper .hh_left.active {
    width: 100%;
  }
  .wrapper .hh_left.active .back {
    width: 8%;
    margin: 1.5% 8.5%;
  }
  .wrapper .hh_left.active .back p img {
    width: 100%;
  }
  .wrapper .hh_left.active .detail {
    opacity: 0;
  }
  .wrapper .hh_right {
    display: none;
  }
  .wrapper.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .wrapper.column .color {
    width: 100%;
    margin-top: 8%;
  }
  .wrapper.column .color .color_system {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper.column .color .color_system .color_left {
    width: 100%;
  }
  .wrapper.column .color .color_system .color_left h4 {
    font-size: 3rem;
  }
  .wrapper.column .color .color_system .color_left p {
    text-align: left;
    color: #949494;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
  }
  .wrapper.column .color .color_system .color_right {
    width: 100%;
  }
  .wrapper.column .color .color_system .color_right img {
    width: 100%;
  }
  .wrapper.column .font {
    margin-top: 8%;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper.column .font .text_style h4 {
    font-size: 3rem;
  }
  .wrapper.column .font .text_style p {
    font-size: 1.8rem;
  }
  .wrapper.column.mockup p {
    width: 100%;
    height: 100%;
    margin: 8% auto;
    opacity: 0;
  }
  .wrapper.column.mockup p img {
    width: 90%;
  }
}

/* Mobile Device (0~687) */
@media all and (max-width: 687px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .wrapper .hh_left {
    width: 100%;
    height: 100vh;
    -webkit-animation: left .6s ease-in-out normal;
            animation: left .6s ease-in-out normal;
  }
  .wrapper .hh_left .back {
    width: 15%;
    margin: 1.5%;
  }
  .wrapper .hh_left .back p {
    width: 100%;
  }
  .wrapper .hh_left .back p img {
    width: 100%;
  }
  @-webkit-keyframes left {
    0% {
      height: 50vh;
    }
    100% {
      height: 100vh;
    }
  }
  @keyframes left {
    0% {
      height: 50vh;
    }
    100% {
      height: 100vh;
    }
  }
  .wrapper .hh_left .detail {
    width: 90%;
    left: 5%;
    margin: 0 auto;
  }
  .wrapper .hh_left .detail h2 {
    font-size: 2.6rem;
    line-height: 1;
  }
  .wrapper .hh_left .detail h3 {
    font-size: 2rem;
  }
  .wrapper .hh_left .detail p {
    font-size: 1.4rem;
    margin-top: 8%;
  }
  .wrapper .hh_left .detail a {
    display: block;
    width: 30%;
    margin: 0 auto;
    font-size: 1.6rem;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    margin: 10% auto;
  }
  .wrapper .hh_left .detail em {
    font-size: 1rem;
  }
  .wrapper .hh_left.active {
    width: 100%;
  }
  .wrapper .hh_left.active .back {
    width: 8%;
    margin: 1.5% 8.5%;
  }
  .wrapper .hh_left.active .back p img {
    width: 100%;
  }
  .wrapper .hh_left.active .detail {
    opacity: 0;
  }
  .wrapper .hh_right {
    display: none;
  }
  .wrapper.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .wrapper.column .color {
    width: 100%;
    margin: 5% auto;
  }
  .wrapper.column .color .color_system {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper.column .color .color_system .color_left {
    width: 100%;
  }
  .wrapper.column .color .color_system .color_left h4 {
    font-size: 2rem;
  }
  .wrapper.column .color .color_system .color_left p {
    text-align: left;
    color: #949494;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .wrapper.column .color .color_system .color_right {
    width: 100%;
    margin-top: 5%;
  }
  .wrapper.column .color .color_system .color_right img {
    width: 100%;
  }
  .wrapper.column .font {
    width: 100%;
    margin: 5% auto;
  }
  .wrapper.column .font .text_style h4 {
    font-size: 2rem;
  }
  .wrapper.column .font .text_style p {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .wrapper.column .font .text_img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper.column .font .text_img li {
    margin-top: 5%;
  }
  .wrapper.column .font .text_img li img {
    width: 100%;
  }
  .wrapper.column.mockup p {
    width: 100%;
    height: 100%;
    margin: 10% auto;
    opacity: 0;
  }
  .wrapper.column.mockup p img {
    width: 90%;
  }
}
/*# sourceMappingURL=portfolio_detail.css.map */